body{
    background-color: #1f1f23;
}


#login_container{
    background-color: white;
    height: fit-content;
    width: 60vh;
    padding-top: 1%;
    margin: auto;
    margin-top: 10vh;
    box-shadow: 0px 0px 10px 0px black;;
    border-radius: 10px;
    padding-bottom: 1%;
}

#login_text{
    text-align: center;
    color:#1f1f23;
}

#login_form{
    display: flex;
    flex-direction: column;
    margin: 5%;
}

#login_form>p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#login_form>p>a{
    text-decoration: none;
    color: #2e2e2e;
    font-weight: bold;
    font-size: .9em;
    
}

#login_form>p>a:hover{
    text-decoration: underline;
    
}

#logo_container{
    width: 100%;
    margin: auto;
    display: flex;
}

#logo_img{
    width: 40%;
    height: auto;
    margin: auto;

}

#login_button{
    width: max-content;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1f1f23;
    color: #cacaca;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    margin: auto;
    margin-top: 5%;
}

#login_button:hover{
    cursor: pointer;
}

.header_text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    color: #1f1f23;
}


.input_field{
    height: 4vh;
    padding: 2%;
    padding-left: 3%;
    margin-top: 5%;
    border: rgba(128, 128, 128, 0.63) 1px solid;
    border-radius: 5px;
}

.input_field:hover{
    border: rgba(128, 128, 128, 0.63) 1px solid;
}

@media only screen and (max-width: 600px) {

    #login_container{
        background-color: white;
        height: fit-content;
        width: 80vw;
        padding-top: 1%;
        margin: auto;
        margin-top: 10vh;
        box-shadow: 0px 0px 10px 0px black;;
        border-radius: 10px;
        padding-bottom: 1%;
    }

    
    

    #login_button{
        width: max-content;
        padding: 2%;
        padding-left: 5%;
        padding-right: 5%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #1f1f23;
        color: #cacaca;
        font-size: 1em;
        border: none;
        border-radius: 5px;
        margin: auto;
        margin-top: 5%;
    }
    

    .header_text{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.7em;
        color: #1f1f23;
    }

}